---
const judul = "Madrasah Baitul Izzah";
const deskripsi =
  "Unit pendidikan menghafal Quran untuk anak SMP dengan sistem pondok pesantren.";
const website = "https://mabaiz.web.id/";
---

<!-- Primary Meta Tags -->
<title>{judul}</title>
<meta name="title" content={judul} />
<meta name="description" content={deskripsi} />

<!-- Global Metadata -->
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/images/icon/192x192.png" />
<meta name="theme-color" content="#fafafa" />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content="id" />
<meta property="og:type" content="website" />
<meta property="og:url" content={website} />
<link rel="canonical" href={website} />
<meta property="og:title" content={judul} />
<meta property="og:description" content={deskripsi} />
<meta
  property="og:image"
  content="https://monoschinos2.com/assets/img/serie/episodio/lycoris-recoil-3-1658003162.jpg"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={judul} />
<meta property="twitter:description" content={deskripsi} />
<meta
  property="twitter:image"
  content="https://monoschinos2.com/assets/img/serie/episodio/lycoris-recoil-3-1658003162.jpg"
/>
